# Application
TZ=UTC
PORT=3333
HOST=0.0.0.0
LOG_LEVEL=debug
APP_KEY=
NODE_ENV=development
APP_URL=http://localhost:3333

# Database
DB_CONNECTION=pg
DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=chat_app
DB_USER=chat_user
DB_PASSWORD=

# Redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=

# JWT
JWT_SECRET=
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

# pgAdmin
PGADMIN_EMAIL=
PGADMIN_PASSWORD=
